<%= render :partial => "shared/messages" %>
<%= render :partial => "shared/nav" %>

<div id="pages">
	
	<div id="top_controls">
		<div class="top_control add_page">Add Page +</div>
	</div>
	
	<% form_remote_tag :url => pages_path, :method => :post, :html => { :id => "add_page" } do %>
		<%= text_field_tag :url, nil, :class => "field" %>
		<%= hidden_field_tag :user_id, nil, :value => current_user.id %>
		<%= submit_tag 'Add Page', :class => "button" %>
	<% end %>
	
	<div id="window">
		<% for page in @unlocked_pages %>
		<div class="page">
			<%= link_to page.formatted_url, page.url, :class => "url", :target => "_blank" %>
			<div class="status"><%= page.status_in_words %></div>
			<div class="date"><%= page.created_at.strftime( "%m/%d/%Y" ) %></div>
			<%= link_to "Finish Reading", finish_page_path( page ), :class => "finish" %>
			<%= link_to "Remove", page_path( page ), :method => :delete, :class => "remove" %>
		</div>
		<% end %>
		<% for page in @locked_pages %>
		<div class="page finished">
			<%= link_to page.formatted_url, page.url, :class => "url" %>
			<div class="status"><%= page.status_in_words %></div>
			<div class="date"><%= page.created_at.strftime( "%m/%d/%Y" ) %></div>
			<%= link_to "Read Again", again_page_path( page ), :class => "again" %>
			<%= link_to "Remove", page_path( page ), :method => :delete, :class => "remove" %>
		</div>
		<% end %>
		<div id="placeholder"></div>
	</div>
	
</div>