<%= render :partial => "shared/nav" %>

<div id="main_logo"></div>

<div id="main_actions">
	<% form_tag authorize_path, :method => :post, :id => "login_form" do %>
		<div class="title">Login</div>
		<%= label_tag :email %>
		<%= text_field_tag :email, params[:email], :class => "field" %>
		<%= label_tag :password %>
		<%= password_field_tag :password, nil, :class => "field" %>
		<%= submit_tag "Login", :class => "button" %>
	<% end %>
	
	<% form_for(@user) do |f| %>
		<div class="title">Sign Up</div>
		<%= f.error_messages %>
		
		<%= f.label :first_name %>
		<%= f.text_field :first_name, :class => "field" %>
		<%= f.label :last_name %>
		<%= f.text_field :last_name, :class => "field" %>
		<%= f.label :email %>
		<%= f.text_field :email, :class => "field" %>
		<%= f.label :password %>
		<%= f.password_field :password, :class => "field" %>
		<%= f.label :password_confirmation %>
		<%= f.password_field :password_confirmation, :class => "field" %>
		<%= f.submit "Sign Up", :class => "button" %>
	<% end %>
</div>

<div id="main_content">
	<div class="row">
		<div class="cell">
			<div class="title">Get Started</div>
			<div class="body">Simply sign up for a free account with your email and get going. Download the extension here or from the Chrome Webstore.</div>
		</div>
		<div class="cell">
			<div class="title">What Make BucketRead Different?</div>
			<div class="body">With BucketRead you can easily read the next page in your list with just 2-clicks instead of signing up for bulky services that you never return to.</div>
		</div>
	</div>
	<div class="row">
		<div class="cell">
			<div class="title">Simplicity is the key. Features:</div>
			<div class="body">
				<div class="list">► A web interface</div>
				<div class="list">► A Chrome extension</div>
			</div>
		</div>
		<div class="cell">
			<div class="title">Whats upcoming?</div>
			<div class="body">
				<div class="list">► An Android app so you can read saved articles on the go.</div>
				<div class="list">► Support for FireFox will be upcoming.</div>
			</div>
		</div>
	</div>
	<div class="row" id="dashboard_gallery">
	</div>
</div>