<%= render :partial => "shared/nav" %>

<div id="main_logo"></div>

<% form_tag authorize_path, :method => :post, :id => "login_form" do %>
	<%= label_tag :email %>
	<%= text_field_tag :email, params[:email], :class => "field" %>
	<%= label_tag :password %>
	<%= password_field_tag :password, nil, :class => "field" %>
	<%= submit_tag "Login", :class => "button" %>
<% end %>