<div id="nav">
	<% if current_user %>
		<%= link_to "", root_path, :id => "nav_logo" %>
		<div id="tabs">
			<div id="welcome">Welcome, <%= current_user.full_name %></div>
			<%= link_to "Logout", logout_user_path( session[:user_id] ), :class => "tab" %>
			<div class="tab" id="account_tab">Settings</div>
			<%= link_to "FAQs", faq_path, :class => "tab" %>
			<%= link_to "My Bucket", dashboard_path, :class => "tab" %>
		</div>
	<% else %>
		<!-- <%= link_to "", "/auth/twitter", :id => "login_with_twitter", :class => "tab" %> -->
		<div class="tab main_actions">Sign Up | Login</div>
		<%= link_to "FAQs", faq_path, :class => "tab" %>
		<%= link_to "Home", root_path, :class => "tab" %>
	<% end %>
</div>